<div class="container mt-5">
  <div class="col col-lg-6">
    <h1>Editing patient</h1>

    <%= render 'form', patient: @patient %>

    <br>

    <div>
      <%= link_to 'Back to patients', patients_path, class: 'btn btn-outline-secondary' %>
    </div>
  </div>
</div>

